#Data Types and Structures

In [2]:
#Write a code to create a string with your name and print it

name = "Lalan Kumar"
print(name)

Lalan Kumar

In [3]:
# 2. Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[0:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase

string = "hello"
print(string.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [14]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [15]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:5])

('green', 'blue', 'yellow')

In [17]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
minimum_number = min(tuple)
print(minimum_number)

5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple = ('dog', 'cat', 'rabbit')

index = tuple.index('cat')
print(index)

1

In [20]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [21]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [22]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3, 4, 5}

set.clear()
print(set)

set()

In [23]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}

set.remove(4)
print(set)

{1, 2, 3}

In [26]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set = set1.union(set2)
print(set)

{1, 2, 3, 4, 5}

In [27]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

set = set1.intersection(set2)
print(set)

{2, 3}

In [28]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dictionary = {"name": "lalan", "age": 23, "city": "delhi"}
print(dictionary)

{'name': 'lalan', 'age': 23, 'city': 'delhi'}

In [30]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
dict1 = dict['name']
print(dict1)

Alice

In [34]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [35]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("city present in the dict")
else:
  print("city not present in the dict")

city present in the dict

In [36]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 'a', 'b']

# Create a tuple
my_tuple = (10, 20, 30, 'x', 'y')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'London'}

# Print the data structures
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

My List: [1, 2, 3, 'a', 'b']
My Tuple: (10, 20, 30, 'x', 'y')
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'London'}

In [38]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(f"Original list: {random_numbers}")

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(f"Sorted list: {random_numbers}")

Original list: [61, 87, 14, 77, 80]
Sorted list: [14, 61, 77, 80, 87]

In [39]:
# 28. Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index (which is the fourth element)
element_at_third_index = my_list[3]
print(f"The element at the third index is: {element_at_third_index}")

The element at the third index is: date

In [43]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Using the update() method
combined_dict_update = dict1.copy() # Create a copy to avoid modifying dict1
combined_dict_update.update(dict2)
print(f"Combined dictionary): {combined_dict_update}")

Combined dictionary): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
# 30. Write a code to convert a list of strings into a set

list_of_strings = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list to a set
set_of_strings = set(list_of_strings)

# Print the set
print(set_of_strings)

TypeError: 'set' object is not callable